@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    padding-top: 60px;
    font-family: "Monaco" ,sans-serif;
    background-color: #1A1F21;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, audio, canvas, video, svg {
    display: block
}

body:before {
    content: '';
    width: 100%;
    background: #1A1F21;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
* {
    margin: 0;
    padding: 0;
    border: 0
}
ol, ul {
    list-style: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, audio, canvas, video, svg {
    display: block
}
.site-header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background: #000000;
}
*, *:before, *:after {
    box-sizing: border-box
}
.p a, p a {
    text-decoration: underline
}
.p + .btn, .p + .icon-link, p + .btn, p + .icon-link {
    margin-top: 30px
}
@media (max-width: 599px) {
    .p, p {
        font-size: 1.5rem
    }
}

.p-lg, .lead {
    font-size: 2.0rem;
    line-height: 1.5;
    font-weight: 400
}

@media (min-width: 850px) {
    .p-lg, .lead {
        font-size: 2.4rem
    }
}


.container-wide {
    width: 92%;
    margin: 0 auto;
    max-width: 1005px;
    transition: max-width .4s ease-out;
    max-width: 1440px
}
.site-header .container-wide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    position: relative;
    transition: height .4s ease-out
}

.site-navigation {
    text-align: center;
    padding: 40px 0
}
.site-navigation a {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    padding: 5px
}
.site-navigation a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    background: linear-gradient(to right, #E67207 0%, #EF4E7B 50%, #A166AB 100%);
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .4s ease-out
}
.site-navigation li.is-active a:after, .site-navigation a:hover:after {
    transform: scaleX(1)
}

@media (min-width: 850px) {
    .site-header-panel {
        width: 50%
    }
    .site-header .container-wide {
        height: 70px
    }
    .mobile-menu-trigger {
        display: none !important;
    }
    .screen {
        display: none !important
    }
    .site-navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0
    }

    .site-navigation ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 445px
    }

    .site-navigation ul li {
        flex-grow: 1
    }
    .site-navigation a {
        font-size: 1.2rem
    }
    .site-navigation a {
        font-size: 1.2rem
    }
    .site-header .mobile-only {
        display: none
    }

}
@media (max-width: 849px) {
    .site-navigation {
        position: fixed;
        bottom: 40px;
        right: 3%;
        transform: scale(0);
        z-index: 12
    }

    .site-navigation li {
        opacity: 0;
        display: block;
        transform: translate3d(4px, 0px, 0);
        transition: all .3s ease;
        text-align: left
    }

    .site-navigation li + li {
        margin-top: 10px
    }

    .site-navigation a {
        text-decoration: none;
        padding: 4px 8px;
        color: white
    }
}

@media (min-width: 1025px) {
    .site-header-panel {
        width: 50%
    }
    .site-navigation ul {
        max-width: 640px
    }
    .site-navigation a{
        text-decoration: none;
    }
}
.logo {
    flex-grow: 1;
}
.logo a {
    position: relative;
    max-width: 150px;
    width: 90%;
    display: block;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    transition: max-width .4s ease-out
}
.logo a img{
    width: 100%;
    padding-top: 10px;

}
.universe-intro {
    position: relative;
    display: flex;
    align-items: center;
    background: #22292C;
    overflow: hidden;
    z-index: 2;
    padding: 60px 0 150px
}
.universe-intro:before {
    opacity: 0.2
}
.universe {
    background: #22292C;
    overflow: hidden;
    position: relative;
    z-index: 2
}
.universe-logo-wrap {
    position: relative;
    margin: 0 auto 50px
}
.universe-logo-wrap.in-view .universe-logo-white {
    animation: fadeLogo 2s ease 0.8s 1 backwards;
    opacity: 0;
    z-index: -1;
}


.page-loaded .fade-in, .page-loaded.fade-in {
    opacity: 1
}
[data-animate-in="up"] {
    transform: translate3d(0, 24px, 0)
}

[data-animate-in="left"] {
    transform: translate3d(-25%, 0, 0)
}

[data-animate-in="right"] {
    transform: translate3d(25%, 0, 0)
}

[data-animate-in="down"] {
    transform: translate3d(0, -24px, 0)
}

[data-animate-in="fadeIn"] {
    transform: translate3d(0, 0, 0)
}

[data-animate-in].in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform 0.6s ease, opacity 0.6s ease
}

.fade-in {

    opacity: 0;
    transition: opacity 0.8s ease
}
@keyframes fadeLogo {
    0% {
        opacity: 1;
        z-index: 2
    }
    99% {
        opacity: 0;
        z-index: 2
    }
    100% {
        opacity: 0;
        z-index: -1
    }
}
.universe-logo {
    max-width: 50%;
    width: 90%
}
.container {
    width: 92%;
    margin: 0 auto;
    max-width: 1005px;
    transition: max-width .4s ease-out
}
.text-center {
    text-align: center
}
/******** START MOBILE MENU***********/
.mobile-menu-trigger {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #43C6AC 0%, #5073B8 100%);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 13;
    bottom: 15px;
    right: 15px
}
.mobile-menu-trigger span {
    width: 25px;
    height: 2px;
    display: block;
    background: white
}
.mobile-menu-trigger span + span {
    margin-top: 4px
}
.mobile-menu-trigger:hover {
    cursor: pointer
}
.menu-is-active .mobile-menu-trigger span {
    background: #1A1F21
}
.menu-is-active .site-navigation {
    transform: scale(1)
}

.menu-is-active .site-navigation li {
    opacity: 1;
    transform: translate3d(0, 0, 0)
}

.menu-is-active .site-navigation li:first-child {
    transition-delay: 0.08s
}

.menu-is-active .site-navigation li:nth-child(2) {
    transition-delay: 0.07s
}

.menu-is-active .site-navigation li:nth-child(3) {
    transition-delay: 0.05s
}

.menu-is-active .site-navigation li:nth-child(4) {
    transition-delay: 0.03s
}

.menu-is-active .site-navigation li:nth-child(4) {
    transition-delay: 0.01s
}

/****SCREEN CLICK()***/
.modal-screen, .screen {
    display: inline;
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    background: rgba(26, 31, 33, 0.96)
}
.modal-screen {
    z-index: 11
}

/********* END MOBILE MENU ************/


.text-gradient {
    display: inline-block;
    background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}

.stars, .stars-lg {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    width: 2000px;
    min-height: 2000px;
    height: 100%;
    left: calc(50% - 1000px);
    top: 0;
    transform-origin: center;
    background: url("./assets/stars-sm.svg") center/800px auto repeat;
    animation: 1000s rotate360 infinite linear
}

.stars-lg {
    opacity: 0.2;
    background: url("./assets/stars-lg.svg") center/1100px auto repeat;
    animation: 10s pulse infinite linear
}
.text-white{
    color: #ffffff;
}
.content-info{
    background-color: #ffffff;
    display: flex;
    z-index: 1;

}
/**********SKILL*************/
/* ------- DO NOT EDIT BELOW --------- */
@import url(https://fonts.googleapis.com/css?family=Abel);
.chart-one {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
}
.chart-one.animate svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
    animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-one.animate figcaption:after {
    -webkit-animation: chart-one-label 3s steps(32) forwards;
    animation: chart-one-label 3s steps(32) forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-one svg {
    width: 100%;
    height: 100%;
}
.chart-one svg .circle-background, .chart-one svg .circle-foreground {
    r: 99.5px;
    cx: 50%;
    cy: 50%;
    fill: none;
    stroke: #305556;
    stroke-width: 1px;
}
.chart-one svg .circle-foreground {
    stroke: #79be9b;
    stroke-dasharray: 199.9552px 624.86px;
    stroke-dashoffset: 199.9552px;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.chart-one figcaption {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    color: #c6e8d7;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    font-size: 0;
}
.chart-one figcaption:after {
    display: inline-block;
    content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
    white-space: pre;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@-webkit-keyframes chart-one-label {
    100% {
        -webkit-transform: translateY(-80rem);
        transform: translateY(-80rem);
    }
}

@keyframes chart-one-label {
    100% {
        -webkit-transform: translateY(-80rem);
        transform: translateY(-80rem);
    }
}
.chart-two {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
}
.chart-two.animate svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
    animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-two.animate figcaption:after {
    -webkit-animation: chart-two-label 3s steps(75) forwards;
    animation: chart-two-label 3s steps(75) forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-two svg {
    width: 100%;
    height: 100%;
}
.chart-two svg .circle-background, .chart-two svg .circle-foreground {
    r: 87.5px;
    cx: 50%;
    cy: 50%;
    fill: none;
    stroke: #305556;
    stroke-width: 15px;
}
.chart-two svg .circle-foreground {
    stroke: #d0f09e;
    stroke-dasharray: 412.125px 549.5px;
    stroke-dashoffset: 412.125px;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.chart-two figcaption {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    color: #c6e8d7;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    font-size: 0;
}
.chart-two figcaption:after {
    display: inline-block;
    content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
    white-space: pre;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@-webkit-keyframes chart-two-label {
    100% {
        -webkit-transform: translateY(-187.5rem);
        transform: translateY(-187.5rem);
    }
}

@keyframes chart-two-label {
    100% {
        -webkit-transform: translateY(-187.5rem);
        transform: translateY(-187.5rem);
    }
}
/******JAVASCRIPT********/
.chart-javascript {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
}
.chart-javascript.animate svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
    animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-javascript.animate figcaption:after {
    -webkit-animation: chart-javascript-label 3s steps(75) forwards;
    animation: chart-javascript-label 3s steps(75) forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-javascript svg {
    width: 100%;
    height: 100%;
}
.chart-javascript svg .circle-background, .chart-javascript svg .circle-foreground {
    r: 87.5px;
    cx: 50%;
    cy: 50%;
    fill: none;
    stroke: #178832;
    stroke-width: 25px;
}
.chart-javascript svg .circle-foreground {
    stroke: #5fa958;
    stroke-dasharray: 412.125px 549.5px;
    stroke-dashoffset: 412.125px;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.chart-javascript figcaption {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    color:  #c6e8d7;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    font-size: 0;
}
.chart-javascript figcaption:after {
    display: inline-block;
    content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
    white-space: pre;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@-webkit-keyframes chart-javascript-label {
    100% {
        -webkit-transform: translateY(-187.5rem);
        transform: translateY(-187.5rem);
    }
}

@keyframes chart-javascript-label {
    100% {
        -webkit-transform: translateY(-187.5rem);
        transform: translateY(-187.5rem);
    }
}
@-webkit-keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
/* codepen styling only */


figure {
    margin: 1rem !important;
}

figcaption {
    font-family: "Abel", sans-serif;
}
/******JAVASCRIPT********/
/******HTML********/
.chart-html {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
}
.chart-html.animate svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
    animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-html.animate figcaption:after {
    -webkit-animation: chart-html-label 3s steps(80) forwards;
    animation: chart-html-label 3s steps(80) forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-html svg {
    width: 100%;
    height: 100%;
}
.chart-html svg .circle-background, .chart-html svg .circle-foreground {
    r: 87.5px;
    cx: 50%;
    cy: 50%;
    fill: none;
    stroke: #f43b02;
    stroke-width: 25px;
}
.chart-html svg .circle-foreground {
    stroke: #ff7a00;
    stroke-dasharray: 449.6px 549.5px;
    stroke-dashoffset: 449.6px;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.chart-html figcaption {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    color: #ff7a00;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    font-size: 0;
}
.chart-html figcaption:after {
    display: inline-block;
    content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
    white-space: pre;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@-webkit-keyframes chart-html-label {
    100% {
        -webkit-transform: translateY(-200rem);
        transform: translateY(-200rem);
    }
}

@keyframes chart-html-label {
    100% {
        -webkit-transform: translateY(-200rem);
        transform: translateY(-200rem);
    }
}
@-webkit-keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
/* codepen styling only */


figure {
    margin: 1rem !important;
}

figcaption {
    font-family: "Abel", sans-serif;
}
/*******HTML*********/
/******CSS3*********/

.chart-css3 {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
}
.chart-css3.animate svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
    animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-css3.animate figcaption:after {
    -webkit-animation: chart-css3-label 3s steps(50) forwards;
    animation: chart-css3-label 3s steps(50) forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-css3 svg {
    width: 100%;
    height: 100%;
}
.chart-css3 svg .circle-background, .chart-css3 svg .circle-foreground {
    r: 87.5px;
    cx: 50%;
    cy: 50%;
    fill: none;
    stroke: #0074be;
    stroke-width: 25px;
}
.chart-css3 svg .circle-foreground {
    stroke: #00abe1;
    stroke-dasharray: 268.75px 549.5px;
    stroke-dashoffset: 268.75px;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.chart-css3 figcaption {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    color: #00abe1;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    font-size: 0;
}
.chart-css3 figcaption:after {
    display: inline-block;
    content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
    white-space: pre;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@-webkit-keyframes chart-css3-label {
    100% {
        -webkit-transform: translateY(-125rem);
        transform: translateY(-125rem);
    }
}

@keyframes chart-css3-label {
    100% {
        -webkit-transform: translateY(-125rem);
        transform: translateY(-125rem);
    }
}
@-webkit-keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
/* codepen styling only */


figure {
    margin: 1rem !important;
}

figcaption {
    font-family: "Abel", sans-serif;
}

/******CSS3*********/
/******PHP*********/

.chart-php {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
}
.chart-php.animate svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
    animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-php.animate figcaption:after {
    -webkit-animation: chart-php-label 3s steps(60) forwards;
    animation: chart-php-label 3s steps(60) forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-php svg {
    width: 100%;
    height: 100%;
}
.chart-php svg .circle-background, .chart-php svg .circle-foreground {
    r: 87.5px;
    cx: 50%;
    cy: 50%;
    fill: none;
    stroke: #45089d;
    stroke-width: 25px;
}
.chart-php svg .circle-foreground {
    stroke: #5e33a5;
    stroke-dasharray: 329.125px 549.5px;
    stroke-dashoffset: 329.125px;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.chart-php figcaption {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    color: #5e33a5;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    font-size: 0;
}
.chart-php figcaption:after {
    display: inline-block;
    content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
    white-space: pre;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@-webkit-keyframes chart-php-label {
    100% {
        -webkit-transform: translateY(-150rem);
        transform: translateY(-150rem);
    }
}

@keyframes chart-php-label {
    100% {
        -webkit-transform: translateY(-150rem);
        transform: translateY(-150rem);
    }
}
@-webkit-keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
/* codepen styling only */


figure {
    margin: 1rem !important;
}

figcaption {
    font-family: "Abel", sans-serif;
}

/******PHP*********/
/******JAVA*********/

.chart-java {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
}
.chart-java.animate svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
    animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-java.animate figcaption:after {
    -webkit-animation: chart-java-label 3s steps(38) forwards;
    animation: chart-java-label 3s steps(38) forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.chart-java svg {
    width: 100%;
    height: 100%;
}
.chart-java svg .circle-background, .chart-java svg .circle-foreground {
    r: 87.5px;
    cx: 50%;
    cy: 50%;
    fill: none;
    stroke: #efefef;
    stroke-width: 25px;
}
.chart-java svg .circle-foreground {
    stroke: #ff7000;
    stroke-dasharray: 208.81px 549.5px;
    stroke-dashoffset: 208.81px;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.chart-java figcaption {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    color: #ff7000;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    font-size: 0;
}
.chart-java figcaption:after {
    display: inline-block;
    content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
    white-space: pre;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@-webkit-keyframes chart-java-label {
    100% {
        -webkit-transform: translateY(-95rem);
        transform: translateY(-95rem);
    }
}

@keyframes chart-java-label {
    100% {
        -webkit-transform: translateY(-95rem);
        transform: translateY(-95rem);
    }
}
@-webkit-keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
/* codepen styling only */


figure {
    margin: 1rem !important;
}

figcaption {
    font-family: "Abel", sans-serif;
}

/******JAVA*********/
/******C#*********/

.char-cshape {
    width: 200px;
    height: 200px;
    margin: 0;
    position: relative;
}
.char-cshape.animate svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
    animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.char-cshape.animate figcaption:after {
    -webkit-animation: char-cshape-label 3s steps(38) forwards;
    animation: char-cshape-label 3s steps(38) forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.char-cshape svg {
    width: 100%;
    height: 100%;
}
.char-cshape svg .circle-background, .char-cshape svg .circle-foreground {
    r: 87.5px;
    cx: 50%;
    cy: 50%;
    fill: none;
    stroke: #efefef;
    stroke-width: 25px;
}
.char-cshape svg .circle-foreground {
    stroke: #ab00e8;
    stroke-dasharray: 208.81px 549.5px;
    stroke-dashoffset: 208.81px;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.char-cshape figcaption {
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    text-align: center;
    color: #ab00e8;
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    font-size: 0;
}
.char-cshape figcaption:after {
    display: inline-block;
    content: "0%\a 1%\a 2%\a 3%\a 4%\a 5%\a 6%\a 7%\a 8%\a 9%\a 10%\a 11%\a 12%\a 13%\a 14%\a 15%\a 16%\a 17%\a 18%\a 19%\a 20%\a 21%\a 22%\a 23%\a 24%\a 25%\a 26%\a 27%\a 28%\a 29%\a 30%\a 31%\a 32%\a 33%\a 34%\a 35%\a 36%\a 37%\a 38%\a 39%\a 40%\a 41%\a 42%\a 43%\a 44%\a 45%\a 46%\a 47%\a 48%\a 49%\a 50%\a 51%\a 52%\a 53%\a 54%\a 55%\a 56%\a 57%\a 58%\a 59%\a 60%\a 61%\a 62%\a 63%\a 64%\a 65%\a 66%\a 67%\a 68%\a 69%\a 70%\a 71%\a 72%\a 73%\a 74%\a 75%\a 76%\a 77%\a 78%\a 79%\a 80%\a 81%\a 82%\a 83%\a 84%\a 85%\a 86%\a 87%\a 88%\a 89%\a 90%\a 91%\a 92%\a 93%\a 94%\a 95%\a 96%\a 97%\a 98%\a 99%\a 100%\a";
    white-space: pre;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

@-webkit-keyframes char-cshape-label {
    100% {
        -webkit-transform: translateY(-95rem);
        transform: translateY(-95rem);
    }
}

@keyframes char-cshape-label {
    100% {
        -webkit-transform: translateY(-95rem);
        transform: translateY(-95rem);
    }
}
@-webkit-keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
/* codepen styling only */


figure {
    margin: 1rem !important;
}

figcaption {
    font-family: "Abel", sans-serif;
}

/******C#*********/
.skillchartinfo {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 0 0 5% 0;

}
.skillchartinfo-header{
    color: #252525;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: row;
    padding: 5% 5%;
}
.single-chart{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.single-chart h1 {
    text-align: center;
    font-size: 1.5em;
    display: inline-block;
    background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.headerskill{
    background-color: white;
    z-index: 2;
    color: #252525;
}
.logo-group{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;

}
.logo-group img{
    width: 20%;
    height: 20%;
}
.experience-school{
    padding: 5% 5%;
}